@import url("./base.css");

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1440px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 20px;
    transition: ease 0.3s all;
    &:hover {
        text-decoration: none;
        background-color: var(--base-800);
    }

    &.white {
        background-color: var(--base-100);
        color: var(--base-800);
        &:hover {
            text-decoration: none;
            background-color: var(--blue-800);
            color: var(--base-100);
        }
    }
    &.black {
        background-color: var(--base-800);
        color: var(--base-100);
        &:hover {
            text-decoration: none;
            background-color: var(--blue-800);
            color: var(--base-100);
        }
    }
}

.hero {
    display: flex;
    @media (max-width: 1024px) {
        flex-direction: column;
    }

    h1 {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 5px;
        small {
            display: block;
            font-weight: 100;
            font-size: 0.5em;
        }
        @media (max-width: 1024px) {
            font-size: 2rem;
            small {
                font-size: 0.5em;
            }
        }
    }
    .hero-blue {
        flex: 1;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
            @media (max-width: 1024px) {
                display: none;
            }
        }
        p {
            line-height: 1.4;
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .social-links {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .hero-yellow {
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            margin-top: -50px;
            max-width: 420px;
            margin-bottom: -10px;
        }
    }
}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width: 1440px) {
        border-radius: 5px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    small {
        display: block;
        font-weight: 100;
        font-size: 0.6em;
        color: var(--base);
    }
    @media (max-width: 1024px) {
        font-size: 2rem;
        small {
            font-size: 0.5em;
        }
    }
}
.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;
            color: var(--base-800);
        }
        p {
            line-height: 1.4;
        }

        .left-column {
            flex: 1;
            ul {
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: var(--blue-400);
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        .right-column {
            flex: 1;
            p {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }
}

.work-experience {
    display: none;
    h2 {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
        color: var(--base-800);
        small {
            display: block;
            font-weight: 100;
            font-size: 0.6em;
            color: var(--base);
        }
        @media (max-width: 1024px) {
            font-size: 2rem;
            small {
                font-size: 0.5em;
            }
        }
        p {
            line-height: 1.4;
        }
    }
    .jobs {
        display: flex;
        gap: 30px;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        article {
            background-color: var(--yellow-100);
            padding: 30px;
            border-radius: 30px;
            flex: 1;
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            div {
                font-weight: 600;
                margin-bottom: 5px;
                color: var(--base-800);
            }
            p {
                margin-bottom: 10px;
            }
            figure {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;
                border-radius: 15px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    object-fit: cover;
                    transition: ease 3s all;
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: var(--base-100);
                    text-align: center;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: ease 0.3s all;
                }

                &:hover {
                    figcaption {
                        opacity: 1;
                        visibility: visible;
                    }
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.chatbot {
    display: none;

    .chatbot-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        gap: 30px;
        display: flex;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        p {
            margin-top: 5px;
            margin-bottom: 30px;
            line-height: 1.4;
        }
        .chat-info {
            flex: 3;
            padding-right: 30px;
        }
        .chat-box {
            flex: 4;
            background-color: white;
            border-radius: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            .scroll-area {
                max-height: 18rem;
                height: 18rem;
                overflow-y: scroll;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 15px;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        &:nth-child(even) {
                            text-align: right;
                            justify-content: flex-end;
                            flex-direction: row-reverse;
                            span {
                                background-color: var(--yellow);
                            }
                        }

                        span {
                            background-color: var(--blue-400);
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 768px) {
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                    }
                    div {
                        flex: 1;
                    }
                }
            }
            .chat-message {
                display: flex;
                margin-top: 15px;
                gap: 15px;
                input {
                    border-radius: 30px;
                    flex: 1;
                    padding: 15px;
                    border: 1px solid transparent;
                    background-color: var(--base-100);
                    &:hover {
                        outline: none;
                        background-color: white;
                        border: 1px solid var(--base-400);
                    }
                    &:focus {
                        outline: none;
                        background-color: white;
                        border: 1px solid var(--base-400);
                    }
                }
                button {
                    border: none;
                    cursor: pointer;
                    border-radius: 30px;
                }
            }
        }
    }
}
