@import url("./base.css");

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1440px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.portfolio {
    @media (max-width: 1024px) {
        flex-direction: column;
    }

    h1 {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 5px;
        small {
            display: block;
            font-weight: 100;
            font-size: 0.5em;
        }
        @media (max-width: 1024px) {
            font-size: 2rem;
            small {
                font-size: 0.5em;
            }
        }
    }
    /* Filters section */
    .filters {
        margin-bottom: 20px;
    }

    #name-search {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tag {
        background-color: var(--blue-800);
        color: var(--base-100);
        border: none;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .tag:hover {
        background-color: var(--blue-400);
        color: var(--blue-800);
    }

    /* Projects list */
    .projects-list {
        margin-top: 20px;
    }

    .project {
        background-color: var(--base-100);
        padding: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .project h2 {
        margin-top: 0;
    }

    .project p {
        margin-bottom: 10px;
        line-height: 1.5;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .tags-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(20px, auto);
        }
    }
    @media (max-width: 500px) {
        .tags-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(20px, auto);
        }
    }
}
