{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page
{%endblock title %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %} " />

{% endblock extrahead %} {% block content %}
<section class="hero container">
    <div class="hero-blue">
        <div>
            <h1><small>Hi, I'm</small>Tomás Micó</h1>
        </div>
        <p>
            Python Developer with a knack for creating efficient and scalable
            solutions. With a strong foundation in Python and a keen interest in
            web development, I thrive on turning problems into simple, elegant
            code.
            <span>
                Explore my projects to see how I build innovative applications.
            </span>
        </p>
        <div class="call-to-action">
            <a
                class="button black"
                href="{% static 'files/CV Tomas Mico Aldeguer.pdf' %}"
                class="button"
                >View Resume</a
            >
            <a class="button white" href="mailto:tmico@gmail.com" class="button"
                >Contact Me</a
            >
        </div>
        <div class="social-links">
            <a href="https://github.com/tomicoal"
                ><img src="{% static 'imgs/github.png'%}" alt="GitHub" width="48px"
            /></a>
            <a href="https://www.linkedin.com/in/tomás-micó-aldeguer-a35baa108"
                ><img
                    src="{% static 'imgs/linkedin.png'%}"
                    alt="LinkedIn"
                    width="48px"
            /></a>
        </div>
    </div>
    <div class="hero-yellow">
        <img
            src="{% static 'imgs/hero-image2.png' %}"
            alt="Tomas Mico"
            width="100%"
        />
    </div>
</section>
<section class="logos container">
    <div class="marquee">
        <div class="track">
            <img src="{% static 'imgs\html.png'%}" alt="HTML" width="128" />
            <img src="{% static 'imgs/css.png'%}" alt="CSS" width="128" />
            <img src="{% static 'imgs/javascript.png'%}" alt="JS" width="128" />
            <img src="{% static 'imgs/sass.png'%}" width="128" alt="Sass" />
            <img src="{% static 'imgs/react.png'%}" width="128" alt="React" />
            <img src="{% static 'imgs/nextjs.png'%}" width="128" alt="Next JS" />
            <img src="{% static 'imgs/azure.png'%}" width="128" alt="Azure" />
            <img src="{% static 'imgs/vscode.png'%}" width="128" alt="VS Code" />
            <img src="{% static 'imgs/python.png'%}" width="128" alt="Python" />
            <img src="{% static 'imgs/html.png'%}" alt="HTML" width="128" />
            <img src="{% static 'imgs/css.png'%}" alt="CSS" width="128" />
            <img src="{% static 'imgs/javascript.png'%}" alt="JS" width="128" />
            <img src="{% static 'imgs/sass.png'%}" width="128" alt="Sass" />
            <img src="{% static 'imgs/react.png'%}" width="128" alt="React" />
            <img src="{% static 'imgs/nextjs.png'%}" width="128" alt="Next JS" />
            <img src="{% static 'imgs/azure.png'%}" width="128" alt="Azure" />
            <img src="{% static 'imgs/vscode.png'%}" width="128" alt="VS Code" />
            <img src="{% static 'imgs/python.png'%}" width="128" alt="Python" />
        </div>
    </div>
</section>
<section class="skills container">
    <h2><small>About Me</small>Skills</h2>

    <div class="holder-blue">
        <div class="left-column">
            <h3>Frontend</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>React</li>
            </ul>
            <h3>Backend</h3>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Azure</li>
                <li>AWS</li>
            </ul>
        </div>
        <div class="right-column">
            <h3>A bit about me</h3>
            <p>
                Hi, I'm Tomás, a developer. I am a highly driven, experienced
                professional that has recently shifted to Python development
                with a focus on web-based applications, looking for a starting
                position to jump-start my developer career.
            </p>
            <p>
                While my professional journey began in finance, where I
                developed an eye for detail and strong problem-solving abilities
                through roles at BDO, KPMG, and PwC, my passion for technology
                led me to pursue a career change. Over the past years, I have
                dedicated myself to mastering Python, web development, and core
                JavaScript through intensive self-study and formal training.
                Courses such as Udemy's “100 Days of Code” and the
                ITOnlineTraining Academy's Python Developer course have equipped
                me with the skills necessary to develop web-based applications
                using frameworks like Flask and Django.
            </p>
            <p></p>
        </div>
    </div>
</section>
<section class="work-experience container">
    <h2>
        <small>Recent</small>
        Work Experience
    </h2>
    <div class="jobs">
        <article>
            <figure>
                <div>
                    <img
                        src=""
                        alt="Workplace 1 - YouTube Creator"
                        width="100%"
                    />
                    <figcaption>Workplace - 1 YouTube Creator</figcaption>
                </div>
            </figure>
            <h3>YouTube Content Creator</h3>
            <div>2020-current</div>
            <p>
                Content creation online teaching people about how to code using
                HTML, CSS, JS.
            </p>
        </article>
        <article>
            <figure>
                <div>
                    <img
                        src=""
                        alt="Workplace 2 - Moshi Moshi Marketing"
                        width="100%"
                    />
                    <figcaption>Workplace - Moshi Moshi Marketing</figcaption>
                </div>
            </figure>
            <h3>Moshi Moshi Marketing</h3>
            <div>20018-2020</div>
            <p>
                Marketing agency building websites and programming them from the
                ground up.
            </p>
        </article>
        <article>
            <figure>
                <div>
                    <img
                        src=""
                        alt="Workplace 3 - Chamber of Commerce"
                        width="100%"
                    />
                    <figcaption>Workplace - Chamber of Commerce</figcaption>
                </div>
            </figure>
            <h3>Chamber of Commerce</h3>
            <div>2013-2018</div>
            <p>
                A small to large business organisation that helps facilitate
                advice and support.
            </p>
        </article>
    </div>
</section>
<section class="chatbot container">
    <h2>
        <small>Talk to me </small>
        Chatbot
    </h2>
    <div class="chatbot-blue">
        <div class="chat-info">
            <h3>Azure AI Chatbot</h3>
            <p>
                I've put together a chatbot here which knows all my skills, work
                experience and has a copy of my CV/Resume. You can use it to ask
                questions about me to get a better idea of who I am and what
                I've done.
            </p>
            <p>
                You can also download my resume here if you want to take a look
                at it. I'm currently looking for new opportunities so if you
                have a project you think I'd be a good fit for, please get in
                touch!
            </p>
            <a
                class="button black"
                href="{% static 'files/CV Tomas Mico Aldeguer.pdf'%}"
                >Download Resume</a
            >
        </div>
        <div class="chat-box">
            <div class="scroll-area">
                <ul id="chat-log">
                    <li>
                        <span class="avatar bot">AI</span>
                        <div class="message">
                            Hello, I'm a chatbot that lets you interact with
                            this portfolio. How can I help?
                        </div>
                    </li>
                    <li>
                        <span class="avatar user">User</span>
                        <div class="message">
                            I have a question to ask you! yala yal yal ayal
                            ayaya
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-message">
                <input
                    type="text"
                    placeholder="Hey Tomas, what skills are you best at?"
                />
                <button class="button black">Send</button>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block extra_js %}
<script src="{% static 'js/home.js'%}"></script>

{% endblock extra_js %}
